<%= render 'header' %>
<p id="notice"><%= notice %></p>

<p><%= image_tag @picture.image.url %></p>
<p><%= @picture.content %></p>

<%= link_to 'Edit', edit_picture_path(@picture), class:'btn btn-primary'%> |
<%= link_to 'Back', pictures_path, class:'btn btn-primary' %>
